@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700&display=swap');* {
    /* 마진값 초기화 */
    margin: 0;
    /* 패딩값 초기화 */
    padding: 0;
    /* 박스 영역은 테두리까지 지정 */
    box-sizing: border-box;
}

/* 밑줄 감추기  */
a {
    text-decoration: none;
}

ul {
    list-style: none;
}

#container {
    /* 화면 중앙에 배치 */
    margin: 0 auto;
    /* 너비 지정 */
    width: 1200px;
    background-color: #f6f9fc;
}

/* 헤더 영역 */
header {
    width: 100%;
    height: 100px;
}

/* 로고 영역 */
#logo {
    /* 왼쪽으로 플로팅 */
    float: left;
    width: 250px;
    height: 100px;
    /* 로고에 왼쪽 여백 추가 */
    /* height 값과 같게 만듬 -> 세로로 중간에 오게함 */
    line-height: 100px;
    padding-left: 20px;
}

#logo h1 {
    font-family: 'Cinzel', serif;
    color: #392f31;
    font-weight: 600;
    font-size: 40px;
    text-shadow: 0 -1px 0 gray;
}

/* 내비게이션 영역 */
nav {
    float: right;
    width: 900px;
    height: 100px;
    /* 메뉴를 아래로 내리기 위함 */
    padding-top: 40px;
}

#topMenu {
    height: 60px;
}

#topMenu > li {
    /* 메뉴 항목을 왼쪽으로 플로팅 */
    float: left;
    position: relative;
}

#topMenu > li > a {
    /* 링크 텍스트는 블록으로 */
    display: block;
    color: #392f31;
    font-weight: 600;
    text-shadow: 0 1px #f6f9fc;
    padding: 20px 60px;
}

#topMenu > li > a > span {
    font-size: 0.5em;
}

#topMenu > li > a:hover {
    color: royalblue;
    text-shadow: 0 -1px #f6f9fc;
}

#topMenu > li > ul {
    display: none;
    position: absolute;
    width: 160px;
    background-color: rgba(255, 255, 255, 0.6);
    left: 50px;
    margin: 0;
}

#topMenu > li > ul > li {
    padding: 10px 10px 10px 30px;
}

#topMenu > li > ul > li > a {
    font-size: 14px;
    padding: 10px;
    color: #000;
}

#topMenu > li:hover > ul {
    display: block;
    z-index: 10;
}

#topMenu > li > ul > li > a:hover {
    color: royalblue;
}

/* 이미지 슬라이드 쇼 영역 */
#slideShow {
    /* 플로팅 해제 */
    clear: both;
    width: 100%;
    height: 300px;
    background-color: orange;
    /* 영역 넘치면 감춤 */
    overflow: hidden;
}

/* 콘텐츠 영역 */
#contents {
    width: 100%;
    height: 300px;

}

/* 탭 메뉴 영역 */
#tabMenu {
    float: left;
    width: 600px;
    height: 100%;
    background-color: violet;
}

/* 퀵 링크 영역 */
#links {
    float: right;
    width: 600px;
    height: 100%;
    background-color: skyblue;
}

/* 푸터 영역 */
footer {
    width: 100%;
    height: 100px;
    background-color: gray;
}